.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  padding: 12px 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.menu {
  display: flex;
  gap: 40px;
  flex: 1;
  justify-content: center;
}

.menu a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
  transition: all 0.3s ease;
}

.menu a:hover {
  text-decoration: underline;
  color: #3619dfff;
}

.cart-widget {
  margin-right: 30px;
  background: black;
  color: white;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
  font-size: 18px;
  margin-left: auto;
}